{% extends 'base.html'%}
{% block styles %}
  {{ super() }}
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static',filename='./css/index.css') }}" type='text/css'>
{% endblock %}

{% block content %}
<div class="container">
<div class="row">
<!-- displaying  Username-->
  <div class="col-md-4">
    <h3> {{user.username| capitalize}} </h3>

  <!--Display profile photo-->
  <div class="col-md-4">

    {% if user.profile_pic_path %}
    <img src="{{url_for('static',filename=user.profile_pic_path)}}" alt="" class="img-thumbnail">
    {%else%}
    <p>No profile picture</p>
    {% endif %}
  </div>
</div>
</div>
  <h2 class='text-primary text-center'>Your Pitches</h2>
  <div class="row">
    {% for pitch in pitches %}
    <div class="col-sm-6">
      <ul class='list-unstyled '>
        <li class=style>
          <h3 class=text-primary>{{pitch.title}}</h3>
          <h4>{{pitch.description}}</h4>
        </li> <hr> <br>
        </ul>
    </div>

    {% endfor %}
  </div>
{% endblock %}