{% extends 'base.html'%}
{% import 'macros.html' as macro%}
<!DOCTYPE html>
<html>
   <head>
       <meta charset="utf-8">
       {% if title %}
       <title> {{ title }}</title>
       {% else %}
       <title> Welcome to the best pitching site </title>
       {% endif %}
   </head>
   <body>
<!-- Styles block -->
{% block styles%}
   {{ super() }}
   <link rel="stylesheet" href="{{url_for('static',filename='css/pitch.css')}}">
{% endblock %}
<!--Content block-->
       {% block content %}
       <div class="pitch categ" style="background-color:gainsboro; padding:20px; margin-top:0px; padding-top:40px; padding-bottom:400px;">
        <div class="row" style="text-align:center; font-size:30px;">
            <span style="font-size:40px; font-family: 'Akronim', cursive;">Pitching Forum_One Minute</span>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3"> 
                    <a href="{{url_for('main.coding')}}" style="font-family: 'Joti One', cursive; font-size:20px;">
                        <br>
                        coding
                    </a>
                    <br>
                    <a href="{{url_for('main.poetry')}}" style="font-family: 'Joti One', cursive; font-size:20px;">
                        <br>
                        Poetry
                    </a>
                    <br>
                    <a href="{{url_for('main.intelligence')}}" style="font-family: 'Joti One', cursive; font-size:20px;">
                        <br>
                        Intelligence
                    </a>
                    <br>
                   
        </div>
        <style>
            .card {
         /* Add shadows to create the "card" effect */
         box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
         transition: 0.3s;
         background-color: rgb(163, 163, 219);
       }
       
       /* On mouse-over, add a deeper shadow */
       .card:hover {
         box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
       }
       
       /* Add some padding inside the card container */
       .container {
         padding: 2px 16px;
       }
       </style>
       
            {% endblock %}
           
          


  