  
{% extends 'base.html' %}
{% block styles %}
  {{ super() }}
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static',filename='css/index.css') }}" type='text/css'>
{% endblock %}
<!-- {% import "macro.html" as macro %} -->
{%block content %}
<h1 class='text-center'>{{message}}</h1> <hr>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <label>Our Guests Now</label>
      <script type="text/javascript" src="//ra.revolvermaps.com/0/0/1.js?i=0jl8feyv9eq&amp;s=250&amp;m=0&amp;v=false&amp;r=false&amp;b=000000&amp;n=false&amp;c=ff0000" async="async"></script>
    </div>
    <div class="col-md-8">
      <h2>All Pitches</h2>
      <div class="row">
        {% for pitch in pitches %}
        <div class="col-sm-6">
          <ul class='list-unstyled '>
            <li class='style'>
              <h3 class=text-primary>{{pitch.title}}</h3>
              <h4>{{pitch.description}}</h4>
              <p>By: {{pitch.user.username}}</p>
              <a href="{{url_for('main.pitches',uname = current_user.username)}}"><button class='btn btn-primary'>Comment</button></a>
            </li> <hr> <br>
            </ul>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>


{% endblock %}